.starting_inner {
  height: 100vh;
  gap: 40px;

  .price_info {
    .main_title {
      font-size: 48px;
      line-height: 60px;
      font-weight: 700;
      margin-top: 40px;
      color: $title_color;
    }
    .subtitle {
      font-size: 24px;
      line-height: 34px;
      color: $title_color;
      margin: 40px 0;
    }
  }

  .catalog-info {
    display: flex;
    gap: 24px;
    align-items: center;
    .main-btn {
      transition: 0.5s;
      padding: 30px 50px;
    }
    p {
      font-size: 15px;
      line-height: 24px;
      color: $title_color;
    }
  }
}
